<section class="container-main admin-product">
		<div class="container-title">
			<div class="wrap-content">
				<h1 class="title">Administrar productos</h1>
			</div>
		</div>

		<div class="wrap-content container-content">
			<div class="subtitle">Acciones</div>
			<div class="text-center">
				<button class="btn" ng-click="tab = 1">Nueva categoria</button>
				<button class="btn" ng-click="tab = 2">Nuevo producto</button>
				<button class="btn" ng-click="tab = 3">Nuevo tipo</button>
			</div>

			<div class="data-personal" ng-if="tab == 1">
				<div class="subtitle">Agregar categorias</div>
				<form name="form" ng-submit="form.$valid && sendcategory()">
					<div class="input-group">
						<span>Nombre</span>
						<input type="text" ng-model="datacategory.name" required>
					</div>
					<button type="submit" class="icon btn-submit" ng-if="form.$valid"><span class="icon icon-floppy-disk"></span></button>
				</form>
			</div>
			
			<div class="data-personal" ng-if="tab == 2">
				<div class="subtitle">Agregar productos</div>
				<form name="form" ng-submit="form.$valid && sendproduct()">
					<div class="input-group">
						<span>Nombre</span>
						<input type="text" ng-model="dataproduct.name" required>
					</div>
					<div class="input-group">
						<span>Category</span>
						<select name="category" ng-model="dataproduct.category_id" ng-options="category.name for category in CPT track by category.id" required>
							
						</select>
					</div>
					<button type="submit" class="icon btn-submit" ng-if="form.$valid"><span class="icon icon-floppy-disk"></span></button>
				</form>

			</div>

			<div class="data-personal" ng-if="tab == 3">
				<div class="subtitle">Agregar tipos</div>
				<form name="form" ng-submit="form.$valid && sendtype()">
					<div class="input-group">
						<span>Nombre</span>
						<input type="text" ng-model="datatype.name" required>
					</div>
					<div class="input-group">
						<span>Precio</span>
						<input type="text" ng-model="datatype.rental_price" ng-pattern="regex_float" required>
					</div>
					<div class="input-group">
						<span>En existencia</span>
						<input type="text" ng-model="datatype.reserve" ng-pattern="regex_number" required>
					</div>
					<div class="input-group">
						<span>Total</span>
						<input type="text" ng-model="datatype.total" ng-pattern="regex_number" required>
					</div>
					<div class="input-group">
						<span>Category</span>
						<select name="category" ng-model="datatype.category_id" ng-change="searchListProduct()" ng-options="category.name for category in CPT track by category.id" required>
						</select>
					</div>
					<div class="input-group">
						<span>Producto</span>
						<select name="category" ng-model="datatype.product_id" ng-options="product.name for product in listProducts track by product.id" required>
						</select>
					</div>
					<button type="submit" class="icon btn-submit" ng-if="form.$valid"><span class="icon icon-floppy-disk"></span></button>
				</form>
				</form>
			</div>
		</div>

		<div class="wrap-content container-content">
			<div class="data-personal" ng-hide="indextype == null">
				<div class="subtitle">Modificar tipos</div>
				<form name="formtypeedit" ng-submit="formtypeedit.$valid && saveedit('T')">
					<div class="input-group">
						<span>Nombre</span>
						<input type="text" ng-model="CPT[indexcategory].listproducts[indexproduct].types[indextype].name" required>
					</div>
					<div class="input-group">
						<span>Precio</span>
						<input type="text" ng-model="CPT[indexcategory].listproducts[indexproduct].types[indextype].rental_price" ng-pattern="regex_float" required>
					</div>
					<div class="input-group">
						<span>En existencia</span>
						<input type="text" ng-model="CPT[indexcategory].listproducts[indexproduct].types[indextype].reserve" ng-pattern="regex_number" required>
					</div>
					<div class="input-group">
						<span>Total</span>
						<input type="text" ng-model="CPT[indexcategory].listproducts[indexproduct].types[indextype].total" ng-pattern="regex_number" required>
					</div>
					<button type="submit" class="icon btn-submit" ng-if="formtypeedit.$valid"><span class="icon icon-floppy-disk"></span></button>
				</form>
			</div>

			<div class="data-personal " ng-hide="indexproduct == null">
				<div class="subtitle">Modificar productos</div>
				<form name="formproductedit" ng-submit="formproductedit.$valid && saveedit('P')">
					<div class="input-group">
						<span>Nombre</span>
						<input type="text" ng-model="CPT[indexcategory].listproducts[indexproduct].name" required>
					</div>
					<button type="submit" class="icon btn-submit" ng-if="formproductedit.$valid"><span class="icon icon-floppy-disk"></span></button>
				</form>
			</div>

			<div class="data-personal" ng-hide="indexcategory == null">
				<div class="subtitle">Modificar categorias</div>
				<form name="categoryedit" ng-submit="categoryedit.$valid && saveedit('C')">
					<div class="input-group">
						<span>Nombre</span>
						<input type="text" ng-model="CPT[indexcategory].name" required>
					</div>
					<button type="submit" class="icon btn-submit" ng-if="categoryedit.$valid"><span class="icon icon-floppy-disk"></span></button>
				</form>
			</div>
		</div>

		<div class="container-content wrap-content">
			<div class="subtitle">
				Articulos
			</div>
			<div>
				<span class="title-label-type">(Precio)</span>
				<span class="title-label-type">(En reserva)</span>
				<span class="title-label-type">(Total)</span>
			</div>
			<ul class="tree-products">
				<li class="category" ng-repeat="category in CPT">
					<div class="category-item">
						{{category.name}}
						<span class="icon icon-minus" ng-click="removecategory(category.id)"></span>
						<span class="icon icon-pencil" ng-click="editcategory(category.id)"></span>
					</div>
					<ul>
						<li class="product" ng-repeat="product in category.listproducts">
							<div class="product-item">
								{{product.name}}
								<span class="icon icon-minus" ng-click="removeproduct(category.id, product.id)"></span>
								<span class="icon icon-pencil" ng-click="editproduct(category.id, product.id)"></span>
							</div>
							<ul>
								<li class="type" ng-repeat="type in product.types">
									<div class="type-item">
										<span class="label-type">{{type.name}}</span>
										<span class="label-type">{{type.rental_price | currency}}</span>
										<span class="label-type">{{type.reserve}}</span>
										<span class="label-type">{{type.total}}</span>
										
										<span class="icon icon-minus" ng-click="removetype(category.id, product.id, type.id)"></span>
										<span class="icon icon-pencil" ng-click="edittype(category.id, product.id, type.id)"></span>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
</section>

<notifications></notifications>