<section class="container-main">		
	<div class="container-main-title">
		<div class="wrap">
			<h1 class="title">Cards</h1>
		</div>
	</div>
	<div class="container-main-content wrap">
		<div class="leftcol">
			<categories></categories>
		</div>
		<div class="rightcol">
			<div class="products-list">
				<h2 class="title">Lista de productos</h2>
				<div class="product">
					<form name="form" ng-submit="form.$valid && sendpresupuesto()">
						<carpas></carpas>
						<input type="submit">
					</form>

				</div>
			</div>
		</div>
	</div>
</section>