	
	<header class="header">
		<div class="wrap-content">
			<span class="btn-menu">*</span>
			<a href="#/">
				<figure class="image">
					<img src="images/logo.png" class="circle" width="50" alt="">
				</figure>
				<h2 class="title">Grupo AV</h2>		

			</a>
			<div class="menu">			
				<nav class="menu-list">
					<li class="menu-item"><a href="#/presupuestos/" class="menu-link">Presupuestos</a></li>
					<li class="menu-item"><a href="#/ordenes" class="menu-link">Ordenes</a></li>
					<li class="menu-item"><a href="#/pagos" class="menu-link">Pagos</a></li>
					<li class="menu-item"><a href="#/administrar-productos" class="menu-link">Productos</a></li>
					<li class="menu-item"><a href="#/administrar-usuarios" class="menu-link">Usuarios</a></li>
					<li class="menu-item"><a href="#/logout/true" class="menu-link">Salir</a></li>
				</nav>
			</div>
		</div>					
	</header>	