<section class="container-main">
	<div class="container-title">
		<div class="wrap-content">
			<h1 class="title">Lista de presupuestos</h1>
		</div>
	</div>

	<div class="container-content wrap-content">
		<div class="search-controls">
			<div class="search-input">
				<span class="icon icon-search"></span>
				<input type="text" placeholder="Buscar por nombre">
			</div>

			<div class="search-input">
				<span class="icon icon-calendar"></span>
				<input type="date" placeholder="Fecha inicial">
			</div>

			<div class="search-input">
				<span class="icon icon-calendar"></span>
				<input type="date" placeholder="Fecha final">
			</div>
		</div>
		<table class="table">
			<tr>
				<th>Folio</th>
				<th>Fecha de elaboracion</th>
				<th>Fecha de evento</th>
				<th>Nombre</th>
				<th>Tipo de evento</th>
				<th>Tel</th>
				<th>Acciones</th>
			</tr>
			<tr>
				<td>001</td>
				<td>10/10/10</td>
				<td>19/16/18</td>
				<td>Cristian Ramirez</td>
				<td>Fiesta infantil</td>
				<td>961-178-2738</td>
				<td></td>
			</tr>
			<tr>
				<td>001</td>
				<td>10/10/10</td>
				<td>19/16/18</td>
				<td>Cristian Ramirez</td>
				<td>Fiesta infantil</td>
				<td>961-178-2738</td>
				<td></td>
			</tr>
			<tr>
				<td>001</td>
				<td>10/10/10</td>
				<td>19/16/18</td>
				<td>Cristian Ramirez</td>
				<td>Fiesta infantil</td>
				<td>961-178-2738</td>
				<td></td>
			</tr>
			<tr>
				<td>001</td>
				<td>10/10/10</td>
				<td>19/16/18</td>
				<td>Cristian Ramirez</td>
				<td>Fiesta infantil</td>
				<td>961-178-2738</td>
				<td></td>
			</tr>
			<tr>
				<td>001</td>
				<td>10/10/10</td>
				<td>19/16/18</td>
				<td>Cristian Ramirez</td>
				<td>Fiesta infantil</td>
				<td>961-178-2738</td>
				<td></td>
			</tr>
			<tr>
				<td>001</td>
				<td>10/10/10</td>
				<td>19/16/18</td>
				<td>Cristian Ramirez</td>
				<td>Fiesta infantil</td>
				<td>961-178-2738</td>
				<td></td>
			</tr>
			<tr>
				<td>001</td>
				<td>10/10/10</td>
				<td>19/16/18</td>
				<td>Cristian Ramirez</td>
				<td>Fiesta infantil</td>
				<td>961-178-2738</td>
				<td></td>
			</tr>
			<tr>
				<td>001</td>
				<td>10/10/10</td>
				<td>19/16/18</td>
				<td>Cristian Ramirez</td>
				<td>Fiesta infantil</td>
				<td>961-178-2738</td>
				<td></td>
			</tr>
		</table>
	</div>
</section>