<section class="container-main">
	<div class="container-title">
		<div class="wrap-content">
			<h1 class="title">Lista de ordenes</h1>
		</div>
	</div>

	<div class="container-content wrap-content">
		<div class="search-controls">
			<div class="search-input">
				<span class="icon icon-search"></span>
				<input type="text" ng-model="filter.costumer_name" placeholder="Buscar por nombre">
			</div>			

			<div class="search-input">
				<span class="icon icon-calendar"></span>
				<input type="date" ng-model="filterdate.datestart" ng-change="filterDate()" placeholder="Fecha inicial">
			</div>

			<div class="search-input">
				<span class="icon icon-calendar"></span>
				<input type="date" ng-model="filterdate.dateend" ng-change="filterDate()" placeholder="Fecha final">
			</div>

			<select name="" id="" ng-model="filter.order.status">
				<option value="">Seleccione una opcion</option>
				<option value="0">Inicial</option>
				<option value="1">Enviado</option>
				<option value="2">Recibido</option>
			</select>

			<br>

			<span>Factura</span>
			<div class="content-checkbox">
				<input type="checkbox" id="available_facture" class="checkbox" ng-model="filter.order.available_facture" ng-change="filterFacture()">
				<label for="available_facture" class="label-checkbox"></label>
			</div>

			<button ng-click="showall()" class="btn">Mostrar todos</button>

		</div>
		<table class="table">
			<tr>
				<th>Folio</th>
				<th>Sirve</th>
				<th>Nombre</th>
				<th>Tipo de evento</th>
				<th>Domicilio de evento</th>
				<th>Fecha de elaboracion</th>
				<td></td>
				<th>Acciones</th>
			</tr>
			<tr 
			ng-repeat="orden in orders | filter: filter">
				<td>{{orden.order.id}}</td>
				<td>{{orden.date_range | date: 'longDate'}}</td>
				<td>{{orden.costumer_name}}</td>
				<td>{{orden.type}}</td>
				<td>{{orden.event_address}}</td>
				<td>{{orden.order.created_at}}</td>
				<td>
					<div class="box status" ng-class="{'bgc-yellow': orden.order.status == '1', 'bgc-green': orden.order.status == '2'}"></div>
					<div class="box pay" ng-class="{'bgc-yellow': orden.order.pay == '1', 'bgc-green': orden.order.pay == '2'}"></div>
					<span ng-if="orden.order.available_facture" class="icon-clipboard"></span>
				</td>
				<td>
					<a href="#/ordenservicio/{{orden.order.id}}"><span class="icon icon-binoculars"></span></a>
					<!-- <a href="#"><span class="icon icon-pencil"></span></a> -->
				</td>
			</tr>
		</table>
	</div>
</section>

<notifications></notifications>