<section class="container-main">
	<div class="container-title">
		<div class="wrap-content">
			<h1 class="title">Lista de presupuestos</h1>
		</div>
	</div>

	<div class="container-content wrap-content">
		<div class="search-controls">
			<div class="search-input">
				<span class="icon icon-search"></span>
				<input type="text" placeholder="Buscar por nombre" ng-model="search.name">
			</div>

			<div class="search-input">
				<span class="icon icon-calendar"></span>
				<input type="date" placeholder="Fecha inicial" ng-model="search.datestart" ng-change="filterDate()">
			</div>

			<div class="search-input">
				<span class="icon icon-calendar"></span>
				<input type="date" placeholder="Fecha final" ng-model="search.dateend" ng-change="filterDate()">
			</div>
		</div>
		<table class="table">
			<tr>
				<th>Folio</th>
				<th>Tipo de evento</th>
				<th>Sirve</th>
				<th>Fecha del evento</th>
				<th>Domicilio de evento</th>				
				<th>Cliente</th>
				<th>Tels.</th>
				<th>Acciones</th>
			</tr>
			<tr ng-repeat="estimation in estimations | filter:search.name">
				<td>{{estimation.id}}</td>
				<td>{{estimation.type}}</td>
				<td>{{estimation.date_event | date: 'longDate'}}</td>
				<td>{{estimation.date_range | date: 'longDate'}}</td>
				<td>{{estimation.event_address}}</td>
				<td>{{estimation.costumer_name}}</td>
				<td>{{estimation.movil}}<br>{{estimation.phone}}</td>
				<td>
					<a href="#/presupuesto/{{estimation.id}}"><span class="icon icon-plus"></span></a>

					<a href="#/update-presupuesto/{{estimation.id}}"><span class="icon icon-pencil"></span></a>
				</td>
			</tr>			
		</table>
	</div>
</section>