<section class="container-main">
	<div class="container-title">
		<div class="wrap-content">
			<h1 class="title">Lista de ordenes</h1>
		</div>
	</div>

	<div class="container-content wrap-content">
		<div class="search-controls">
			<div class="search-input">
				<span class="icon icon-search"></span>
				<input type="text" placeholder="Buscar por nombre">
			</div>

			<div class="search-input">
				<span class="icon icon-calendar"></span>
				<input type="date" placeholder="Fecha inicial">
			</div>

			<div class="search-input">
				<span class="icon icon-calendar"></span>
				<input type="date" placeholder="Fecha final">
			</div>
		</div>
		<table class="table">
			<tr>
				<th>Folio</th>
				<th>Sirve</th>
				<th>Nombre</th>
				<th>Tipo de evento</th>
				<th>Domicilio de evento</th>
				<th>Fecha de elaboracion</th>
				<td></td>
				<th>Acciones</th>
			</tr>
			<tr ng-repeat="orden in orders" ng-class="{'bgc-orange': orden.order.status == 'send', 'bgc-blue': orden.order.status == 'initial'}">
				<td>{{orden.order.id}}</td>
				<td>{{orden.date_range | date: 'longDate'}}</td>
				<td>{{orden.costumer_name}}</td>
				<td>{{orden.type}}</td>
				<td>{{orden.event_address}}</td>
				<td>{{orden.order.created_at}}</td>
				<td>
					<span ng-if="orden.order.available_facture" class="icon-clipboard"></span>
				</td>
				<td>
					<a href="#/ordenservicio/{{orden.order.id}}"><span class="icon icon-binoculars"></span></a>
					<a href="#"><span class="icon icon-pencil"></span></a>
				</td>
			</tr>
		</table>
	</div>
</section>

<notifications></notifications>