<section class="container-main">
	<div class="container-title">
		<div class="wrap-content">
			<h1 class="title">Orden de servicio</h1>
		</div>
	</div>

	<div class="container-content wrap-content">
		<div class="data-personal">
			<div class="subtitle">Orden de servico No. 1149</div>

			<div class="input-group">
				<span>Nombre</span>
				<input type="text">
			</div>
			<div class="input-group">
				<span>Fecha de evento</span>
				<input type="date">
			</div>
			<div class="input-group">
				<span>Dom. del evento</span>
				<input type="text">
			</div>
			<div class="input-group">
				<span>Dom. particular</span>
				<input type="text">
			</div>
			<div class="input-group">
				<span>Telefono</span>
				<input type="text">
			</div>
			<div class="input-group">
				<span>E-Mail</span>
				<input type="email">
			</div>
			<div class="input-group">
				<span>Surtir</span>
				<input type="text">
			</div>
			<div class="input-group">
				<span>Recoger</span>
				<input type="text">
			</div>
			<div class="input-group">
				<span>Tipo de evento</span>
				<input type="text">
			</div>
			<div class="input-group">
				<span>Numero de personas</span>
				<input type="number">
			</div>
			<div class="input-group">
				<span>Color</span>
				<input type="number">
			</div>
			<div class="input-group">
				<span>Contacto</span>
				<input type="number">
			</div>
		</div>

		<table class="table">
			<tr>
				<th>Cantidad</th>
				<th>Concepto</th>
				<th>Importe</th>
			</tr>
			<tr>
				<td>2</td>
				<td>Mesa arabe</td>
				<td>$ 320.00</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Mesa arabe</td>
				<td>$ 320.00</td>
			</tr>
			<tr>
				<td>23</td>
				<td>Sillas</td>
				<td>$ 32.00</td>
			</tr>			
			<tr>
				<td>2</td>
				<td>Mesa arabe</td>
				<td>$ 320.00</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Mesa arabe</td>
				<td>$ 320.00</td>
			</tr>
			<tr>
				<td>23</td>
				<td>Sillas</td>
				<td>$ 32.00</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Subtotal:</td>
				<td>$ 29.00</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Deposito:</td>
				<td>$ 29.00</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Total:</td>
				<td>$ 29.00</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Anticipo:</td>
				<td>$ 29.00</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Por cobrar:</td>
				<td>$ 29.00</td>
			</tr>			
		</table>
		<div class="text-right">
			<button class="btn">Imprimir</button>
			<button class="btn">Agregar producto</button>
		</div>
	</div>

	
</section>