<menu></menu>
<section class="container-main">
	<div class="container-title">
		<div class="wrap-content">
			<h1 class="title">Presupuesto</h1>
		</div>
	</div>

	<div class="container-content wrap-content">
		<div class="data-personal">
				<div class="subtitle">Datos del evento</div>

				<div class="input-group">
					<span>Nombre</span>
					<input type="text" ng-model="estimation.data.costumer_name">
				</div>
				<div class="input-group">
					<span>Fecha de evento</span>
					<input type="text" value="{{estimation.data.date_event | date:'longDate'}}">
				</div>
				<div class="input-group">
					<span>Dom. del evento</span>
					<input type="text" ng-model="estimation.data.event_address">
				</div>
				<div class="input-group">
					<span>Dom. particular</span>
					<input type="text" ng-model="estimation.data.home_address">
				</div>
				<div class="input-group">
					<span>Telefono</span>
					<input type="text" ng-model="estimation.data.phone" ng-pattern="regex_number">
				</div>
				<div class="input-group">
					<span>Celular</span>
					<input type="text" ng-model="estimation.data.movil" ng-pattern="regex_number">
				</div>
				<div class="input-group">
					<span>E-Mail</span>
					<input type="email" ng-model="estimation.data.email">
				</div>
				<div class="input-group">
					<span>Surtir</span>
					<input type="text" value="{{estimation.data.date_range | date:'longDate'}}">
				</div>
				<div class="input-group">
					<span>Recoger</span>
					<input type="text" value="{{estimation.data.date_collecting | date:'longDate'}}">
				</div>
				<div class="input-group">
					<span>Tipo de evento</span>
					<input type="text" ng-model="estimation.data.type">
				</div>
				<div class="input-group">
					<span>Numero de personas</span>
					<input type="text" ng-model="estimation.data.number_people" ng-pattern="regex_number">
				</div>
				<div class="input-group">
					<span>Color</span>
					<input type="text" ng-model="estimation.data.color">
				</div>
				<!-- <div class="input-group">
					<span>Contacto</span>
					<input type="text" ng-model="estimation.data.contact">
				</div> -->
				<!-- <div class="input-group">
					<span>Subtotal</span>
					<input type="text" ng-model="estimation.data.subtotal" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Total</span>
					<input type="text" ng-model="estimation.data.total" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Deposito</span>
					<input type="text" ng-model="estimation.data.deposit" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Anticipo</span>
					<input type="text" ng-model="estimation.data.advanced_payment" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Por cobrar</span>
					<input type="text" ng-model="estimation.data.balance" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Descuento</span>
					<input type="text" ng-model="estimation.data.discount" ng-pattern="regex_float">
				</div> -->
			</div>

		<table class="table">
			<tr>
				<th>Cantidad</th>
				<th>Concepto</th>
				<th>Importe</th>
				<th width="2%"></th>
			</tr>
			<tr ng-repeat="type in estimation.types">
				<td>{{type.quantity}}</td>
				<td>{{type.category}} : {{type.product}} : {{type.name}} </td>
				<td>{{type.subtotal | number:2}}</td>
				<td width="2%"></td>
			</tr>
			<tr ng-repeat="extratype in estimation.extratypes">
				<td>{{extratype.quantity}}</td>
				<td>{{extratype.name}} </td>
				<td>{{extratype.total | number:2}}</td>	
				<td width="2%"><span class="icon icon-minus" ng-click="deleteExtratype(extratype.id)"></span></td>			
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Subtotal:</td>
				<td>{{estimation.data.subtotal | number:2}}</td>
			</tr>
			<tr class="cuantity" ng-if = "estimation.data.discount > 0">
				<td></td>
				<td class="text-right">Descuento:</td>
				<td>-{{estimation.data.discount | number:2}}</td>
			</tr>
			<tr class="cuantity" ng-if="estimation.data.discount > 0">
				<td></td>
				<td class="text-right"></td>			
				<td>{{estimation.data.subtotal - estimation.data.discount | number:2}}</td>
			</tr>

			<tr class="cuantity" ng-if="estimation.data.iva">
				<td></td>
				<td class="text-right">IVA:</td>
				<td>+{{estimation.data.sub_iva | number:2}}</td>
			</tr>

			<tr class="cuantity" ng-if="estimation.data.iva">
				<td></td>
				<td class="text-right"></td>
				<td>{{estimation.data.sub_iva - estimation.data.discount + estimation.data.subtotal | number:2}}</td>
			</tr>

			<tr class="cuantity">
				<td></td>
				<td class="text-right">Deposito:</td>
				<td><span ng-if="estimation.data.deposit > 0">+</span>{{estimation.data.deposit | number:2}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Total:</td>
				<td>{{estimation.data.total | number:2}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Anticipo:</td>
				<td><span ng-if="estimation.data.advanced_payment">-</span>{{estimation.data.advanced_payment | number:2}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Por cobrar:</td>
				<td>{{estimation.data.balance | number:2}}</td>
			</tr>			
		</table>		
		<div class="text-right">
			<button class="btn" style="background-color:rgb(103, 123, 195)" ng-click="tab = !tab">Agregar artículo</button>
			<a href="printEstimation/{{estimation.data.id}}/{{token}}" class="btn icon-printer"> Imprimir</a>
			<a href="#/update-presupuesto/{{estimation.data.id}}" class="btn icon-pencil"> Editar presupuesto</a>
			<button class="btn icon-minus" ng-click="deleteEstimation(estimation.data.id)"> Eliminar presupuesto</button>
			<button class="btn icon-checkmark" ng-click="comfirmOrder(estimation.data.id)"> Generar orden</button>
		</div>
		<div class="data-personal" style="margin-top:20px" ng-show="tab">				
			<div class="subtitle">Agregar nuevo artículo</div><br>
			<form name="form" ng-submit="form.$valid && sendextratype(estimation.data.id)">
				<div class="input-group">
					<span>Descripción</span>
					<input type="text" ng-model="data.name" required>
				</div>
				<div class="input-group">
					<span>Cantidad</span>
					<input type="text" ng-model="data.quantity" required>
				</div>
				<div class="input-group">
					<span>Importe Total</span>
					<input type="number" ng-model="data.total" required>
				</div>				
				<button type="submit" class="icon btn-submit" ng-if="form.$valid"><span class="icon icon-floppy-disk"></span></button>
			</form>
		</div>
	</div>
</section>