<section class="container-main">
	<div class="container-title">
		<div class="wrap-content">
			<h1 class="title">Presupuesto</h1>
		</div>
	</div>

	<div class="container-content wrap-content">
		<div class="data-personal">
				<div class="subtitle">Datos del evento</div>

				<div class="input-group">
					<span>Nombre</span>
					<input type="text" ng-model="estimation.data.costumer_name">
				</div>
				<div class="input-group">
					<span>Fecha de evento</span>
					<input type="text" ng-model="estimation.data.date_event | reorderdate">
				</div>
				<div class="input-group">
					<span>Dom. del evento</span>
					<input type="text" ng-model="estimation.data.event_address">
				</div>
				<div class="input-group">
					<span>Dom. particular</span>
					<input type="text" ng-model="estimation.data.home_address">
				</div>
				<div class="input-group">
					<span>Telefono</span>
					<input type="text" ng-model="estimation.data.phone" ng-pattern="regex_number">
				</div>
				<div class="input-group">
					<span>Celular</span>
					<input type="text" ng-model="estimation.data.movil" ng-pattern="regex_number">
				</div>
				<div class="input-group">
					<span>E-Mail</span>
					<input type="email" ng-model="estimation.data.email">
				</div>
				<div class="input-group">
					<span>Surtir</span>
					<input type="text" ng-model="estimation.data.date_range | reorderdate">
				</div>
				<div class="input-group">
					<span>Recoger</span>
					<input type="text" ng-model="estimation.data.date_collecting | reorderdate">
				</div>
				<div class="input-group">
					<span>Tipo de evento</span>
					<input type="text" ng-model="estimation.data.type">
				</div>
				<div class="input-group">
					<span>Numero de personas</span>
					<input type="text" ng-model="estimation.data.number_people" ng-pattern="regex_number">
				</div>
				<div class="input-group">
					<span>Color</span>
					<input type="text" ng-model="estimation.data.color">
				</div>
				<div class="input-group">
					<span>Contacto</span>
					<input type="text" ng-model="estimation.data.contact">
				</div>
				<!-- <div class="input-group">
					<span>Subtotal</span>
					<input type="text" ng-model="estimation.data.subtotal" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Total</span>
					<input type="text" ng-model="estimation.data.total" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Deposito</span>
					<input type="text" ng-model="estimation.data.deposit" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Anticipo</span>
					<input type="text" ng-model="estimation.data.advanced_payment" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Por cobrar</span>
					<input type="text" ng-model="estimation.data.balance" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Descuento</span>
					<input type="text" ng-model="estimation.data.discount" ng-pattern="regex_float">
				</div> -->
			</div>

		<table class="table">
			<tr>
				<th>Cantidad</th>
				<th>Concepto</th>
				<th>Importe</th>
			</tr>
			<tr ng-repeat="type in estimation.types">
				<td>{{type.quantity}}</td>
				<td>{{type.category}} : {{type.product}} : {{type.name}} </td>
				<td>{{type.subtotal}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Subtotal:</td>
				<td>{{estimation.data.subtotal}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Deposito:</td>
				<td>{{estimation.data.deposit}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Total:</td>
				<td>{{estimation.data.total}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Anticipo:</td>
				<td>{{estimation.data.advanced_payment}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Por cobrar:</td>
				<td>{{estimation.data.balance}}</td>
			</tr>			
		</table>
		<div class="text-right">
			<a href="printEstimation/{{estimation.data.id}}" class="btn">Imprimir</a>
			<a href="#/update-presupuesto/{{estimation.data.id}}" class="btn icon-pencil">Editar presupuesto</a>
			<button class="btn icon-minus" ng-click="deleteEstimation(estimation.data.id)"> Eliminar presupuesto</button>
		</div>
	</div>

	
</section>