<menu></menu>	
<section class="container-main">
	<form name="form" ng-submit="form.$valid && sendpresupuesto()">
		<div class="container-title">
			<div class="wrap-content">
				<h1 class="title">Editar presupuesto</h1>
			</div>
		</div>

		<div class="container-content wrap-content">
			<div class="data-personal">
				<div class="subtitle">Datos del evento</div>
				<div class="input-group">
					<span>Nombre</span>
					<input type="text" ng-model="datageneral.costumer_name" required>
				</div>
				<div class="input-group">
					<span>Fecha de evento</span>
					<input type="date" ng-model="datageneral.date_event" required>
				</div>
				<div class="input-group">
					<span>Dom. del evento</span>
					<input type="text" ng-model="datageneral.event_address" required>
				</div>
				<div class="input-group">
					<span>Surtir</span>
					<input type="date" ng-model="datageneral.date_range" required>
				</div>
				<div class="input-group">
					<span>Dom. particular</span>
					<input type="text" ng-model="datageneral.home_address" required>
				</div>
				<div class="input-group">
					<span>Recoger</span>
					<input type="date" ng-model="datageneral.date_collecting" required>
				</div>
				<div class="input-group">
					<span>Telefono</span>
					<input type="text" ng-model="datageneral.phone" ng-pattern="regex_number" required>
				</div>
				<div class="input-group">
					<span>Numero de personas</span>
					<input type="text" ng-model="datageneral.number_people" ng-pattern="regex_number" required>
				</div>
				<div class="input-group">
					<span>E-Mail</span>
					<input type="email" ng-model="datageneral.email">
				</div>
				<div class="input-group">
					<span>Tipo de evento</span>
					<input type="text" ng-model="datageneral.type" required>
				</div>
				<div class="input-group">
					<span>Celular</span>
					<input type="text" ng-model="datageneral.movil" ng-pattern="regex_number" required>
				</div>
				<div class="input-group">
					<span>Color</span>
					<input type="text" ng-model="datageneral.color" required>
				</div>
			</div>
			<hr/>
			<div class="data-personal margin-top">
				<div class="input-group">
					<span>Deposito</span>
					<input type="text" ng-model="datageneral.deposit" ng-pattern="regex_float" required>
				</div>
				<div class="input-group">
					<span>Subtotal</span>
					<input type="text" ng-model="datageneral.subtotal" ng-pattern="regex_float" required>
				</div>
				<div class="input-group">
					<span>Anticipo</span>
					<input type="text" ng-model="datageneral.advanced_payment" ng-pattern="regex_float" required>
				</div>
				<div class="input-group">
					<span>Total</span>
					<input type="text" ng-model="datageneral.total" ng-pattern="regex_float" required>
				</div>
				<div class="input-group">
					<span>Descuento</span>
					<input type="text" ng-model="datageneral.discount" ng-pattern="regex_float" required>
				</div>
				<div class="input-group">
					<span>Saldo</span>
					<input type="text" ng-model="datageneral.balance" ng-pattern="regex_float" required>
				</div>
				<div>
					<spans class="pointer calculo" ng-click="calculator()"> Realizar calculo</span>
				</div> 
			</div>
		</div>

		<div class="container-content wrap-content">
			<div class="leftcol">
				<categories></categories>
			</div>
			<div class="rightcol">
				<div class="products-list">
					<div class="subtitle">Lista de productos</div>
					<div class="product">
						
							<products></products>

							<div class="text-center" ng-show="form.$valid">
								<button type="submit" class=" icon icon-save"><span class=" icon-floppy-disk"></span></button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

<notifications></notifications>