<menu></menu>	
<section class="container-main">
	<div class="container-title">
		<div class="wrap-content">
			<h1 class="title">Orden de servicio</h1>
		</div>
	</div>

	<div class="container-content wrap-content">
		<div class="data-personal">
				<div class="subtitle">Datos del evento: Folio {{order.id}}</div>

				<div class="input-group">
					<span>Fecha de evento</span>
					<input type="text" value="{{order.estimation.date_event | date:'longDate'}}">
				</div>
				<div class="input-group">
					<span>Nombre</span>
					<input type="text" ng-model="order.estimation.costumer_name">
				</div>

				<div class="input-group">
					<span>Dom. del evento</span>
					<input type="text" ng-model="order.estimation.event_address">
				</div>
				<div class="input-group">
					<span>Dom. particular</span>
					<input type="text" ng-model="order.estimation.home_address">
				</div>
				<div class="input-group">
					<span>Telefono</span>
					<input type="text" ng-model="order.estimation.phone" ng-pattern="regex_number">
				</div>
				<div class="input-group">
					<span>Celular</span>
					<input type="text" ng-model="order.estimation.movil" ng-pattern="regex_number">
				</div>
				<div class="input-group">
					<span>E-Mail</span>
					<input type="email" ng-model="order.estimation.email">
				</div>
				<div class="input-group">
					<span>Surtir</span>
					<input type="text" value="{{order.estimation.date_range | date:'longDate'}}">
				</div>
				<div class="input-group">
					<span>Recoger</span>
					<input type="text" value="{{order.estimation.date_collecting | date:'longDate'}}">
				</div>
				<div class="input-group">
					<span>Tipo de evento</span>
					<input type="text" ng-model="order.estimation.type">
				</div>
				<div class="input-group">
					<span>Numero de personas</span>
					<input type="text" ng-model="order.estimation.number_people" ng-pattern="regex_number">
				</div>
				<div class="input-group">
					<span>Color</span>
					<input type="text" ng-model="order.estimation.color">
				</div>
				<div class="input-group">
					<span>RFC</span>
					<input type="text" ng-model="order.estimation.rfc">
				</div>
				<!-- <div class="input-group">
					<span>Subtotal</span>
					<input type="text" ng-model="estimation.data.subtotal" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Total</span>
					<input type="text" ng-model="estimation.data.total" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Deposito</span>
					<input type="text" ng-model="estimation.data.deposit" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Anticipo</span>
					<input type="text" ng-model="estimation.data.advanced_payment" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Por cobrar</span>
					<input type="text" ng-model="estimation.data.balance" ng-pattern="regex_float">
				</div>
				<div class="input-group">
					<span>Descuento</span>
					<input type="text" ng-model="estimation.data.discount" ng-pattern="regex_float">
				</div> -->
			</div>

		<table class="table">
			<tr>
				<th>Cantidad</th>
				<th>Concepto</th>
				<th>Importe</th>
			</tr>
			<tr ng-repeat="type in order.estimation.types">
				<td>{{type.pivot.quantity}}</td>
				<td>{{type.product.category.name}} : {{type.product.name}} : {{type.name}} </td>
				<td>{{type.pivot.quantity * type.rental_price | currency}}</td>
			</tr>
			<tr ng-repeat="extratype in order.estimation.extratypes">
				<td>{{extratype.quantity}}</td>
				<td>{{extratype.name}}</td>
				<td>{{extratype.total | currency}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Subtotal:</td>
				<td>{{order.estimation.subtotal | number: 2}}</td>
			</tr>
			<tr class="cuantity" ng-if = "order.estimation.discount > 0">
				<td></td>
				<td class="text-right">Descuento:</td>
				<td>- {{order.estimation.discount | number: 2}}</td>
			</tr>
			<tr class="cuantity" ng-if = "order.estimation.discount > 0">
				<td></td>
				<td class="text-right">Subtotal:</td>
				<td>{{order.estimation.subtotal - order.estimation.discount | number: 2}}</td>
			</tr>
			<tr class="cuantity" ng-if="order.estimation.iva">
				<td></td>
				<td class="text-right">IVA:</td>
				<td>{{order.estimation.sub_iva | number: 2}}</td>
			</tr>
			<tr class="cuantity" ng-if="order.estimation.iva">
				<td></td>
				<td class="text-right"></td>
				<td>{{order.estimation.sub_iva + order.estimation.subtotal - order.estimation.discount | number: 2}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Deposito:</td>
				<td><span ng-if="order.estimation.deposit > 0">+</span>{{order.estimation.deposit | number:2}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Total:</td>
				<td>{{order.estimation.total | number: 2}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Anticipo:</td>
				<td><span ng-if="order.estimation.advanced_payment">-</span>{{order.estimation.advanced_payment | number: 2}}</td>
			</tr>
			<tr class="cuantity">
				<td></td>
				<td class="text-right">Por cobrar:</td>
				<td>{{order.estimation.balance | number:2}}</td>
			</tr>					
		</table>
		<div class="text-right">
			<div class="status" ng-switch on="order.status">
				<div class="bar-progress">
					<div class="progress" ng-class="{'send': order.status == 1,'received': order.status == 2, }"></div>
					<span class="label" ng-switch-when="0">Inicial</span>
					<span class="label" ng-switch-when="1">Enviado</span>
					<span class="label" ng-switch-when="2">Recibido</span>
				</div>
				<span class="icon icon-redo2" ng-click="nextStatus()" ng-if="order.status != 2"></span>				
				<span>Control de renta (CR)</span>
			</div>
			

			<span>Factura</span>
			<div class="content-checkbox">
				<input type="checkbox" id="available_facture" class="checkbox" ng-checked="order.available_facture == 1">
				<label for="available_facture" class="label-checkbox" ng-click="toggleFacture(1,'available_facture')"></label>
			</div>

			<a class="btn" href="printOrder/{{order.id}}/{{token}}">Imprimir</a>
			<!-- <button class="btn">Agregar producto</button> -->
		</div>
		<div>
			<div class="status" ng-switch on="order.pay">
				<div class="bar-progress">
					<div class="progress" ng-class="{'send': order.pay == 1,'received': order.pay == 2, }"></div>
					<span class="label" ng-switch-when="0">Por cobrar</span>
					<span class="label" ng-switch-when="1">Pagado</span>
					<span class="label" ng-switch-when="2">Depositado</span>
				</div>
				<span class="icon icon-redo2" ng-click="nextPay()" ng-if="order.pay != 2"></span>
				<span>Control de cobranza (CC)</span>
			</div>
		</div>
	</div>

	<div class="container-content wrap-content text-center">
		<div>
			<div class="input-group">
				<span>Nuevo pago</span>
				<input type="text" ng-model="newpayment.amount" ng-pattern="regex_float">
			</div>
			<div class="input-group">
				<span>Descripcion al pago</span>
				<input type="text" ng-model="newpayment.description" ng-pattern="regex_float">
			</div>
			<span class="icon icon-redo2" ng-click="savePayment()"></span>
		</div>
		<table class="table-payments">
			<br>
			<tr>
				<th width="150">Numero de anticipo</th>
				<th width="140">Cantidad</th>
				<th width="220">Fecha</th>
				<!-- <th></th> -->
			</tr>
			<br>
			<tr ng-repeat="payment in order.payments" height="30" title="{{payment.description}}">
				<td> {{$index + 1 }} anticipo</td>
				<td> {{payment.amount | currency}} </td>
				<td> {{payment.created_at | date:'fullDate'}}</td>
			</tr>
		</table>

		<h3>Observaciones</h3>
		<textarea name="" id="" cols="50" rows="10" ng-model="order.observations">
		</textarea>
		<br>
		<button type="button" class=" icon icon-save" ng-click="saveObservations()"><span class=" icon-floppy-disk"></span></button>
	</div>
</section>

<notifications></notifications>