@import "nib"
@import "animate.styl"
@import "normalize.styl"
@import "fonts.styl"

rojo-oscuro = #FD645B
rojo-mas-oscuro = #E4463D
azul-gris = #485961
gris-borde = #DDDDDD

gris-fondo = #F8F8F8
gris-fondo-oscuro = #F0F0F0
gris-scroll = #CBCBCB

rojo-mac = #FD645B
verde-mac = #1E892D
amarillo-mac = #FDBA17
body
	font-size 16px
	font-family 'Roboto', sans-serif
	background white
ul
	padding 0
li
	list-style none
a
	text-decoration none
// OOCSS
.status
	float left
	.icon
		vertical-align middle
	.bar-progress
		background gris-fondo-oscuro
		border 1px solid gris-borde
		height 1.5em
		width 10em
		overflow hidden
		border-radius 1em
		display inline-block
		position relative
		vertical-align middle
		.label
			opacity 0.5
			position absolute
			top 3px
			right 10px
			color black
		.progress
			transition all 1s
			background rojo-mac
			height 1.5em
			width 33%
			&.send
				width 66%
				background amarillo-mac
			&.received
				background verde-mac
				width 100%
.bgc-orange
	background rgba(orange, .5) !important
.bgc-blue
	background rgba(blue, .5) !important
.content-checkbox
	display inline-block
	background gris-fondo-oscuro
	border-radius 5px
	border 1px solid gris-borde
	position relative
	height 2em
	line-height 2em
	width 4em
	span 
		font-style italic
	&:before
		position absolute
		left 0.2em
		content 'Si'
		z-index 1
	&:after
		position absolute
		content 'No'
		right 0.2em
		z-index 1
	.checkbox
		visibility hidden
		&:checked + .label-checkbox
			left 1.8em
			background verde-mac
	.label-checkbox
		transition all 0.5s
		z-index 2
		cursor pointer
		position absolute
		left 0.2em
		top 50%
		margin-top -0.7em
		border-radius 5px
		background rojo-mac
		display inline-block
		height 1.4em
		width 2em
.btn
	background verde-mac
	border 0
	color white
	border-radius 10px
	padding 0.5em
	box-shadow 0 0 2px rojo-oscuro
.left
	float left
.right
	float right
.margin-top
	margin-top 1em
.circle
	border-radius 50%
.pointer
	cursor pointer
.calculo
	background verde-mac
	padding 0 0.5em
	border-radius 5px
	color white
	
.container-main
	margin-top 3.5em
	
.container-title
	border-bottom 1px solid gris-borde
	padding 0.7em
	margin-bottom 1em
	
.container-content
	border 1px solid gris-borde
	background gris-fondo
	border-radius 10px
	padding 1em
	margin-bottom 1em !important
	overflow hidden
.data-personal
	position relative
	.btn-submit
		position absolute
		top 0
		right 0
	.input-group
		background azul-gris
		padding-left 0.5em
		display inline-block
		color white
		font-weight 100
		border-radius 7px
		overflow hidden
		height 1.4em
		line-height 1.4em
		&:nth-child(odd)
			float right
		span
			display inline-block
			width 10em
			text-align center
		select
		input
			width 13em
			border-left 0
			border-radius 0 7px 7px 0
			text-align center
			color black
			transition 0.5s background
			
input
select
	border 1px solid azul-gris
	border-radius 7px
	&.ng-invalid
		background rojo-mac
		color white
		option
			color white
					
.header
	z-index 3
	background rojo-oscuro
	color white
	position fixed
	top 0 
	left 0
	right 0
	height 3.5em
	line-height 3.5em
	transition background 1s 
	&.alpha
		background rgba(rojo-oscuro, 0.76)
	.btn-menu
		display none
	.image
		margin 0
		margin 3px 0.5em
		width 2.1em
		height 3.1em
		float left
	.title
		float left
		color white
	.menu 
		float right
		&-item
			display inline-block
			transition 0.3s background
			&:hover
				background rojo-mas-oscuro
		&-link
			color white
			padding 1.2em 0.5em
.icon
	background azul-gris
	border 0
	cursor pointer
	border-radius 50%
	color white
	padding 0.4em
	
.leftcol
	padding 0.5em
	width 20%
	border-right 1px solid gris-borde
	border-left 1px solid gris-borde
	float left
	background gris-fondo-oscuro
	border-radius 10px
	.category
		border-bottom 1px solid gris-borde
		&-list
			margin 0.5em 0
			overflow hidden
		&-item
			text-align right
			&-name
				text-transform capitalize
				font-weight 600
				margin-right 3em
			&-btn
				background verde-mac
				margin-left 0.5em
				cursor pointer
		&-title
			text-transform capitalize
			margin 0.4em 0
			cursor pointer
		&:last-child
			border-bottom none
		.types-item
			margin 0.2em 0
			font-weight 100
			font-size italic
			
.notification
	padding 1em
	background rgba(azul-gris, 0.9)
	cursor pointer
	color white
	position fixed
	bottom 3em
	right 1em
	border-radius 5px
	font-weight 100
	font-size 0.875em
	p
		margin 0.5em 0
	
.products-list
	.product
		overflow hidden
		margin-left 2em
		&-input
			width 5em
			text-align center
		&-price
			margin-left 0.5em
			width 7em
			display inline-block
		&-item
			height 2em
			line-height 2em
		&-name
			text-transform capitalize
			font-style italic
		&-controls
			float right
		&-remove
			margin-left 0.5em
			cursor pointer
			background rojo-mac
		.icon-save
			padding 0.5em
			span
				font-size 1.5em
	
.rightcol 
	padding 1em
	width 73%
	float left

.search-controls
	text-align center
	margin-bottom 1em
	.search-input
		display inline-block
		position relative
		.icon
			color azul-gris
			background transparent
			position absolute
			top 1px
			left 5px
		input
			border-radius 5px
			border 1px solid azul-gris
			padding-left 2em
	
.subtitle
	font-size 1.5em
	font-weight 100
	margin 0
	padding 0 0.5em
	
.table
	margin 1em 0
	width 100%
	tr
		border-bottom 1px solid gris-borde
		&:nth-child(odd)
			background gris-fondo-oscuro
		&:first-child
			background gris-fondo-oscuro
		&.cuantity
			background transparent
			border 0
			td
				font-weight bold
				font-style normal
	th
		padding 0.5em 0
	td
		padding 0.3em 0
		text-align center
		font-style italic
		
.text-right
	text-align right !important
.text-center
	text-align center !important
	
.title
	font-size 2em
	font-weight 100
	margin 0
	padding 0 0.5em
	text-transform uppercase
.icon-plus
	background verde-mac
.icon-minus
	background rojo-mac
.icon-pencil
	background amarillo-mac
.icon-checkmark
.icon-binoculars
	background azul-gris
	
.tree-products
	.icon
		display none
	.category
	.product
	.type
		&-item
			padding 0 0.5em
			border-radius 5px
			background transparent
			transition 0.3s background
			.icon-plus
				background verde-mac
			.icon-minus
				background rojo-mac
			.icon-pencil
				background amarillo-mac
			&:hover
				background gris-fondo-oscuro
				& > .icon
					display inline-block
	.category
		margin 10px 0
		font-weight 500
		padding 0.5em 1em
		text-transform capitalize
		border-bottom 1px solid gris-borde
		&:last-child
			border-bottom 0
		&-item:before
		&-item:after
			content: "-"
		.product
			font-weight 400
			margin-left 2em
			&-item:before
				content: "-"
			.type
				font-weight 100
				font-style italic
				margin-left 2em
	
.wrap-content
	min-width 52rem
	max-width 70rem
	margin 0 auto
// Animations
	