<div class="category" ng-repeat="product in products">

	<h3 class="category-title" 
		ng-click="product.show = !product.show">{{product.category}}</h3>
	<ul class="category-list animated" 
		ng-show="product.show" 
		ng-class="product.show ?  'fadeInDown' : 'fadeOutUp' ">

		<li class="category-item animated" 
			ng-repeat="listproducts in product.listproducts"
			ng-init="listproducts.show = true" 
			ng-show="listproducts.show" 
			ng-class="listproducts.show ? 'fadeInLeft' : 'fadeOutRight' ">

			<span class="category-item-name">{{listproducts.name}}</span>
			<span class="category-item-btn icon icon-plus" ng-click="listproducts.show = !listproducts.show"></span>
		</li>

	</ul>
</div>